@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  
  /* We use var(--font-serif) because Next.js injects the correct font string into that variable */
  --font-serif: var(--font-serif); 
  --font-sans: var(--font-geist-sans);
  --font-rikafu: var(--font-rikafu);

}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  /* This applies the font globally */
  font-family: var(--font-sans); 
}

/* Custom Leaflet Popup Styles */
.custom-popup .leaflet-popup-content-wrapper {
  background: transparent !important;
  box-shadow: none !important;
  padding: 0 !important;
}

.custom-popup .leaflet-popup-content {
  margin: 0 !important;
}

.custom-popup .leaflet-popup-tip-container {
  display: none !important; /* Hide the default white tip */
}

/* Make Leaflet attribution blend into dark mode */
.leaflet-container .leaflet-control-attribution {
  background: rgba(0, 0, 0, 0.5) !important;
  color: rgba(255, 255, 255, 0.5) !important;
}
.leaflet-container .leaflet-control-attribution a {
  color: rgba(255, 255, 255, 0.8) !important;
}